.panel {
    display: flex;
    margin-bottom: 30px;
}
.panel__time {
    font-size: 14px;
    padding-left: 20px;
    min-width: 100px;
}
.panel__time:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(/time.svg) 0 0 no-repeat;
}
.panel__settings {
    font-size: 14px;
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.panel__settings:hover {
    text-decoration: none;
    color: #e74c3c;
}
.panel__settings:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(/setting.svg) 0 0 no-repeat;
}
