body {
    background-color: #f1f1f1;
}
* {
    box-sizing: border-box;
}
.App {
    padding: 15px;
    display: flex;
    align-items: flex-start;
}
.list {
	width: 200px;
    display: flex;
    align-items: center;
}
.list__name {
    margin-right: 10px;
    font-weight: 700;
}
.list__select {
    padding: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
    position: relative;
}
.AAA {
    background-color: green !important;
}
.BBB {
    background-color: red !important;
}

.paint {
	background-color: black;
}
.blank {
	background: url(/blank.png) 0 0 no-repeat;
}
.grid__result {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}
.grid__result.active {
    opacity: 1;
    visibility: visible;
}
.btns {
	position: absolute;
	top: 0;
	right: -72px;
}
.btn {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    text-indent: -999999px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.btn:hover {
    background-color: rgba(0,0,0,0.1);
}
.btn_check {
    background-image: url(/check.png);
}
.btn_paint {
    background-image: url(/paint.png);
}
.btn_blank {
    background-image: url(/blank.png);
}
.btn_delete {
    background-image: url(/delete.png);
}

.grid {
    display: grid;
    grid-template-columns: auto auto 100%;
    grid-template-rows: auto;
    grid-template-areas: 'cross-name cross-name'
                        ". cross-num-top"
                        "cross-num-left cross-content";
    grid-gap: 0;
}
.grid__name {
    grid-area: cross-name;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}
.grid__num-top {
    grid-area: cross-num-top;
    /* background-color: lightgray; */
    display: flex;
    align-items: flex-end;
    padding-left: 1px;
}
.grid__num-left {
    grid-area: cross-num-left;
    padding-top: 1px;
    /* background-color: lightgray; */
}
.grid__content {
    grid-area: cross-content;
    background-color: #fff;
    /* border: 1px solid gray; */
    display: flex;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
}

.num {
    width: 100%;
    display: flex;
    /* display: grid; */
    /* grid-gap: 0; */
    /* grid-template-columns: 61px 61px 61px 61px 61px; */
}
.num__col {
	display: flex;
}
.num__value {
	width: 61px;
	height: 61px;
    background-color: #fff;
    display: flex;
	align-items: center;
	justify-content: center;
}

.num_top .num__col  {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.num_top .num__value  {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
	border-right: 1px solid grey;
    margin-right: -1px;
}

.num_left  {
    flex-direction: column;
    align-items: flex-end;
}
.num_left .num__col  {}
.num_left .num__value  {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
	border-bottom: 1px solid grey;
    margin-bottom: -1px;
}


.cross {
	display: flex;
	flex-wrap: wrap;
    width: 100%;
}
.cross__row {
	width: 100%;
}
.cross__row-inner {
    display: flex;
}
.cross__cell {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 -1px -1px 0; */
    color: grey;
    flex: 0 0 auto;
    /* padding: 19px 0; */
}
.cross__cell:last-child {
    border-right: none;
}
.cross__row:last-child .cross__cell {
    border-bottom: none;
}
.cross__cell.active {
    background-color: gray;
    color: lightgray;
}
/* td {
    border: 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
} */
/* .true {
    background-color: gray;
}
.false {
    background-color: lightgray;
} */
