body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    line-height: 1.2;
    font-family: arial;
}
* {
    box-sizing: border-box;
}
.App {
    padding: 15px;
    /* display: flex; */
    /* align-items: flex-start; */
}
h1 {
    margin: 0 0 30px;
    font-family: cursive;
}
a {
    text-decoration: underline;
}

/* ссылка вернуться назад к списку */
.return-back-list {
    text-decoration: underline;
    margin-bottom: 30px;
    cursor: pointer;
}
.return-back-list:hover {
    text-decoration: none;
}

/* статус */
/* .status_done {
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(/check.png);
    background-size: 24px;
} */
.status_done {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(/check.png);
    background-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.status_not-resolved {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(/pencil.svg);
    background-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* .list {
	width: 200px;
    display: flex;
    align-items: center;
}
.list__name {
    margin-right: 10px;
    font-weight: 700;
}
.list__select {
    padding: 10px;
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
    position: relative;
}
.AAA {
    background-color: green !important;
}
.BBB {
    background-color: red !important;
}

.grid__result {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}
.grid__result.active {
    opacity: 1;
    visibility: visible;
}
/* .btns {
	position: absolute;
	top: 0;
	right: -72px;
} */
.btn {
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
    text-indent: -999999px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    border-radius: 5px;
}
.btn:hover {
    background-color: rgba(0,0,0,0.1);
}
.btn.active {
    background-color: rgba(0,0,0,0.1);
}
.btn_check {
    background-image: url(/check.png);
}
.btn_paint {
    background-image: url(/paint.png);
}
.btn_blank {
    background-image: url(/blank.png);
}
.btn_delete {
    background-image: url(/eraser.png);
}
.btn_save {
    background-image: url(/save.png);
}

.grid {
    display: grid;
    /* grid-template-columns: auto auto 100%; */
    grid-template-columns: 0fr 0fr 0fr;
    grid-template-rows: auto;
    /* grid-template-areas: 'cross-name cross-name'
                        ". cross-num-top"
                        "cross-num-left cross-content"; */
    grid-template-areas: "cross-name cross-name cross-name"
                        "cross-time cross-time cross-time"
                         ". cross-num-top ."
                         " cross-num-left cross-content cross-btns-control";
    grid-gap: 0;
    align-items: flex-start;
}
.grid__name {
    grid-area: cross-name;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}
.grid__time {
    grid-area: cross-time;
    font-size: 14px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.grid__time:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    background: url(/time.png) 0 0 no-repeat;
}
.grid__num-top {
    grid-area: cross-num-top;
    /* background-color: lightgray; */
    display: flex;
    align-items: flex-end;
    padding-left: 1px;
}
.grid__num-left {
    grid-area: cross-num-left;
    padding-top: 1px;
    /* background-color: lightgray; */
}
.grid__content {
    grid-area: cross-content;
    background-color: #fff;
    /* border: 1px solid gray; */
    display: flex;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
}
.grid__btns-control {
    margin-left: 15px;
    grid-area: cross-btns-control;
}



/* td {
    border: 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
} */
/* .true {
    background-color: gray;
}
.false {
    background-color: lightgray;
} */
