/* список */
.list {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.list__item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 459px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 15px;
}
.list__item:nth-child(2n) {
    margin-right: 0;
}
.list__item:hover {
    background-color: #ebebeb;
}
.list__item:nth-child(1),
.list__item:nth-child(2) {
    border-top: 1px solid lightgray;
}
.list__img {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    margin-right: 15px;
}
.list__info {
    flex: 1;
}
.list__name {
    font-weight: 700;
    margin-bottom: 2px;
}
.list__size {
    color: darkgray;
}
