/* список */
.list {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}
.list__item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: calc(25% - 12px);
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 15px;
}
.list__item:nth-child(4n) {
    margin-right: 0;
}
.list__item:hover {
    background-color: #ebebeb;
}
.list__item:nth-child(-n + 4) {
    border-top: 1px solid lightgray;
}
.list__img {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}
.list__img img {
    max-width: 100%;
    max-height: 100%;
}
.list__status {}
.list__info {
    flex: 1;
    padding-left: 25px;
    display: flex;
}
.list__name {
    font-weight: 700;
    /* margin-bottom: 2px; */
    margin-right: 30px;
    flex: 1;
}
.list__size {
    color: darkgray;
}
